target
project/target
project/.bloop
project/metals.sbt
.vscode
.metals
.bloop/bloop.settings.json
.bloop/levt-example-test.json
.bloop/levt-example.json
.bloop/levt-example/bloop-bsp-clients-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==/META-INF/semanticdb/src/main/scala/domain.scala.semanticdb
.bloop/levt-example/bloop-bsp-clients-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==/META-INF/semanticdb/src/main/scala/Main.scala.semanticdb
.bloop/levt-example/bloop-bsp-clients-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==/META-INF/semanticdb/src/main/scala/levt/Main.scala.semanticdb
.bloop/levt-example/bloop-bsp-clients-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==/META-INF/semanticdb/src/main/scala/levt/pog/multipackage.scala.semanticdb
.bloop/levt-example/bloop-bsp-clients-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==/META-INF/semanticdb/src/main/scala/levt/pog/usual.scala.semanticdb
.bloop/levt-example/bloop-bsp-clients-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==/domain/User.class
.bloop/levt-example/bloop-bsp-clients-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==/domain/User$.class
.bloop/levt-example/bloop-bsp-clients-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==/levt/Main.class
.bloop/levt-example/bloop-bsp-clients-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==/levt/Main$.class
.bloop/levt-example/bloop-bsp-clients-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==/levt/Main$delayedInit$body.class
.bloop/levt-example/bloop-bsp-clients-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==/levt/pog/Bar.class
.bloop/levt-example/bloop-bsp-clients-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==/levt/pog/Bar$.class
.bloop/levt-example/bloop-bsp-clients-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==/levt/pog/Foo.class
.bloop/levt-example/bloop-bsp-clients-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==/levt/pog/Foo$.class
.bloop/levt-example/bloop-bsp-clients-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==/levt/pog/usual.class
.bloop/levt-example/bloop-bsp-clients-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==/levt/pog/usual$.class
.bloop/levt-example/bloop-bsp-clients-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==/levt/zog/Bar.class
.bloop/levt-example/bloop-bsp-clients-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==/levt/zog/Bar$.class
.bloop/levt-example/bloop-bsp-clients-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==/levt/zog/Foo.class
.bloop/levt-example/bloop-bsp-clients-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==/levt/zog/Foo$.class
.bloop/levt-example/bloop-bsp-clients-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==/levt/zog/dog/bark.class
.bloop/levt-example/bloop-bsp-clients-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==/levt/zog/dog/bark$.class
.bloop/levt-example/bloop-internal-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==-68D1IvulQ7CPubOtgPcFDA==/META-INF/semanticdb/src/main/scala/domain.scala.semanticdb
.bloop/levt-example/bloop-internal-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==-68D1IvulQ7CPubOtgPcFDA==/META-INF/semanticdb/src/main/scala/Main.scala.semanticdb
.bloop/levt-example/bloop-internal-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==-68D1IvulQ7CPubOtgPcFDA==/META-INF/semanticdb/src/main/scala/levt/Main.scala.semanticdb
.bloop/levt-example/bloop-internal-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==-68D1IvulQ7CPubOtgPcFDA==/META-INF/semanticdb/src/main/scala/levt/pog/multipackage.scala.semanticdb
.bloop/levt-example/bloop-internal-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==-68D1IvulQ7CPubOtgPcFDA==/META-INF/semanticdb/src/main/scala/levt/pog/usual.scala.semanticdb
.bloop/levt-example/bloop-internal-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==-68D1IvulQ7CPubOtgPcFDA==/domain/User.class
.bloop/levt-example/bloop-internal-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==-68D1IvulQ7CPubOtgPcFDA==/domain/User$.class
.bloop/levt-example/bloop-internal-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==-68D1IvulQ7CPubOtgPcFDA==/levt/Main.class
.bloop/levt-example/bloop-internal-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==-68D1IvulQ7CPubOtgPcFDA==/levt/Main$.class
.bloop/levt-example/bloop-internal-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==-68D1IvulQ7CPubOtgPcFDA==/levt/Main$delayedInit$body.class
.bloop/levt-example/bloop-internal-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==-68D1IvulQ7CPubOtgPcFDA==/levt/pog/Bar.class
.bloop/levt-example/bloop-internal-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==-68D1IvulQ7CPubOtgPcFDA==/levt/pog/Bar$.class
.bloop/levt-example/bloop-internal-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==-68D1IvulQ7CPubOtgPcFDA==/levt/pog/Foo.class
.bloop/levt-example/bloop-internal-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==-68D1IvulQ7CPubOtgPcFDA==/levt/pog/Foo$.class
.bloop/levt-example/bloop-internal-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==-68D1IvulQ7CPubOtgPcFDA==/levt/pog/usual.class
.bloop/levt-example/bloop-internal-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==-68D1IvulQ7CPubOtgPcFDA==/levt/pog/usual$.class
.bloop/levt-example/bloop-internal-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==-68D1IvulQ7CPubOtgPcFDA==/levt/zog/Bar.class
.bloop/levt-example/bloop-internal-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==-68D1IvulQ7CPubOtgPcFDA==/levt/zog/Bar$.class
.bloop/levt-example/bloop-internal-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==-68D1IvulQ7CPubOtgPcFDA==/levt/zog/Foo.class
.bloop/levt-example/bloop-internal-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==-68D1IvulQ7CPubOtgPcFDA==/levt/zog/Foo$.class
.bloop/levt-example/bloop-internal-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==-68D1IvulQ7CPubOtgPcFDA==/levt/zog/dog/bark.class
.bloop/levt-example/bloop-internal-classes/classes-Metals-A6iYr3_VSP6EJtsicuiKVw==-68D1IvulQ7CPubOtgPcFDA==/levt/zog/dog/bark$.class
project/project/metals.sbt
